*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: contain;
}

#root {
  background-color: var(--color-white);
  & > .content {
    padding: 15rem 0;
    margin: 0 auto;
    max-width: 1200px;
  }
}