*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: contain;
}

#root {
  background-color: var(--color-white);
}

#content {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  min-height: calc(var(--vh, 1vh) * 100);
}